@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<StudentPortal.Web.Models.Entities.Schedule>

@{
    ViewData["Title"] = "Index";
}
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-1">Schedule List</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Schedule" asp-action="AddSchedule" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Add New Schedule
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Days</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Room</th>
                    <th>Section</th>
                    <th>School Year</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var schedule in Model)
                {
                    <tr>
                        <td>@schedule.Days</td>
                        <td>@schedule.StartTime</td>
                        <td>@schedule.EndTime</td>
                        <td>@schedule.Room</td>
                        <td>@schedule.Section</td>
                        <td>@schedule.SchoolYear</td>

                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Schedule" asp-action="EditSchedule" asp-route-days="@schedule.Days"
                                   class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Schedule" asp-action="DeleteSchedule" asp-route-days="@schedule.Days"
                                   class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>